<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GoldenCub Predictor</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
	<link rel="shortcut icon" href="#">

	
	


</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        {% include 'sidebar.html' %}


        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
					<h1 class="h3 mb-2 mt-4 text-gray-800">Golden Cub Predictor Privacy Policy (referred to in this document as “GCP”)</h1>
					<p class="mb-4">
					The purpose of this privacy policy (referred to in this document as “Policy”) is to explain how we collect, store, protect, and share your information.  We highly recommend you read our “Terms and Conditions of Use” to fully understand the “Research Use Only” nature of our product and provide context for privacy and use. 
 
When you use our GCP website and use our services, we are evaluating and processing information about you.  The website interface is global, but the information you enter will only be processed to provide your results.  Your information will not be recorded, sent anywhere, or saved.

					
				    <div class="card shadow mb-4">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">Who we are:
</h6>
						</div>
                        <div class="card-body">
							The GCP website is operated by 4 University of California, Berkeley (referred to in this policy as “Cal”) students (“also referred to in this policy as “we” or “us”).  We all share the responsibility as controllers of personal information processed through the GCP website.  Although it is operated by Cal students, we do not share the information you input with the school in any way. 
 
GCP has a designated Data Protection Officer and they can be reached by emailing <a href="GCP.data.protection@gmail.com"> GCP.data.protection@gmail.com </a> or by post at the following address:  4040 Hancock St, #1202, San Diego, CA 92110. 
						</div>
					</div>

				    <div class="card shadow mb-4">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">Collection of information:</h6>
						</div>
                        <div class="card-body">
							GCP does not collect any of the information you input.  The information you input is processed by a machine learning model (referred to in this policy as “model”) which provides you predicted baby size and birth week.  Once that information is processed and the results are returned to you, the data is never used or collected for any purpose.
						</div>
					</div>
					<div class="card shadow mb-4">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">Device information:</h6>
						</div>
                        <div class="card-body">
							We do not use cookies in an expanded effort to not collect your data.
						</div>
					</div>
					<div class="card shadow mb-4">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">Contacting User Support:</h6>
						</div>
                        <div class="card-body">
							If you contact our user support team via our feedback page, we will receive your email address.  We will keep records of our communication with you for a maximum of 6 years after your issue is resolved or the GCP website is no longer in operation, whichever comes first.
						</div>
					</div>
					<div class="card shadow mb-4">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">Use Purposes:</h6>
						</div>
                        <div class="card-body">
							The following describes the data you provide us with an explanation of how it is used and why:
							<table border="1">
								<tr> 
								 
								   <th>Purpose for which data is used</th>
								   <th>Data</th>
								   <th>Source</th>
								   <th>Legal basis</th>
								 </tr>
								 <tr>
								   
								   <td>To provide you a prediction for baby birth size and date</td>
								   <td><ul>
									<li>Expected child birth data
									<li>Mother’s lifestyle and health data
									<li>Father’s age
									<li>Previous child birth data
									<li>Prenatal health care information </ul></td>
								   <td>You</td>
								   <td>Contractual necessity</td>
								 </tr>
								 <tr> 
								   
								   <td>To respond to correspondence and queries that you submit to us</td>
								   <td>Email address and name</td>
								   <td>You</td>
								   <td>Legitimate interests – it is in our legitimate interests to respond to your queries to ensure we provide a good service and troubleshoot problems</td>
								</tr>

							   </table>




						</div>
					</div>
					<div class="card shadow mb-4">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">More Information About Disclosures:</h6>
						</div>
                        <div class="card-body">
							We do not share any of your information with any third parties. 
						</div>
					</div>
					<div class="card shadow mb-4">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">Our Policy Towards Age:</h6>
						</div>
                        <div class="card-body">
							You have to be at least 18 years old to use our website.  GCP does not knowingly collect any information about or market to children, minors, or anyone under the age of 18.  If you are less than 18 years old, we request you not use our GCP website or submit any of your information to our model.
						</div>
					</div>
					<div class="card shadow mb-4">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">Security:</h6>
						</div>
                        <div class="card-body">
							We do not collect your data.  Unfortunately, no website or internet transmission is ever completely 100% secure and we cannot guarantee that unauthorized access, data loss, or other breaches will never occur.  Here are our best tips at keeping your data secure:
 							<ul>
								<li>Use a browser in incognito mode.
								<li>Close your browser after you let our model process your data.
								<li>Utilize and maintain the highest level of computer security software available.
							</ul>
						</div>
					</div>
					<div class="card shadow mb-4">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">California Privacy Rights:</h6>
						</div>
                        <div class="card-body">
							For users who are California residents, you have the following rights, in addition to those listed in the next section on “your rights” under the California Consumer Privacy Act. 
 							<ul>
								<li>You have the right to be free from unlawful discrimination for exercising your rights under the Act. 
								<li>You have the right to request we disclose certain information to you and explain how we have shared your personal information over the past 12 months.
								<li>You have the right to request that we delete your personal information collected from you.  This would pertain to your email address and name as submitted on our feedback page. 
								<li>We do not collect any information you submit via our GCP web page and we certainly do not share any of your information with third parties.  If that were to ever change, you would see the option on our webpage to give you the ability to exercise “do not track” rights.  This would provide you choice regarding the collection of personal information and third-party disclosure.  That change would also allow you to further know your rights under California’s “Shine the Light” Law, civil code section 1798.83, where you would be able to contact us and request disclosure on our third-party disclosure of your information.
							</ul>
						</div>
					</div>
					<div class="card shadow mb-4">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">Your Rights:</h6>
						</div>
                        <div class="card-body">
							Privacy laws applicable in your country may give you the following rights:
	
							<ul>
								<li>Right to be informed: what personal data an organization is processing and why (we provide this information to you in this Privacy Policy).
								<li>Right of access: you can request a copy of your data.
								<li>Right of rectification: if the data held is inaccurate, you have the right to have it corrected.
								<li>Right to erasure: you have the right to have your data deleted in certain circumstances.
								<li>Right to restrict processing: in limited circumstances, you have the right to request that processing is stopped but the data retained.
								<li>Right to data portability: you can request a copy of certain data in a machine-readable form that can be transferred to another provider.
								<li>Right to object: in certain circumstances (including where data is processed on the basis of legitimate interests or for the purposes of marketing) you may object to that processing.
								<li>Rights related to automated decision-making including profiling: there are several rights in this area where processing carried out on a solely automated basis results in a decision which has legal or significant effects for the individual. In these circumstances your rights include the right to ensure that there is human intervention in the decision-making process.
							</ul>

							The particular rights which are applicable to you (which might include other rights not listed above) may vary depending on your country. You should make yourself aware of the rights you have under applicable privacy laws in your country.
 
If you want to exercise any of your rights listed above please visit our Feedback Page or email our Data Protection Officer at <a href="GCP.data.protection@gmail.com"> GCP.data.protection@gmail.com </a>. You can also contact us by post at the following address: 4040 Hancock St, #1202, San Diego, CA 92110. For your protection and the protection of all of our Users, we may need to request specific information from you to help us confirm your identity before we can answer the above requests.
 
If you have a concern about how we have processed your request or your personal data, you should contact us in the first instance via the contact details listed above.
 
If you feel we have not resolved your concern, you have the right to make a complaint at any time to the Information Commissioner’s Office (ICO), 
the UK supervisory authority for data protection issues(<a href="#www.ico.org.uk"> www.ico.org.uk </a>  ). If you live in a country or territory located in the European Union (EU) or European Economic Area (EEA), you may also get in touch with your local Data Protection Regulator. If you live in a country outside the EU, you may have the right to lodge a complaint with your local privacy or data protection regulator.

						</div>
					</div>
					

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Golden Cub Predictor 2023</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/chart-area-demo.js"></script>
    <script src="js/demo/chart-pie-demo.js"></script>
    <script src="js/demo/chart-bar-demo.js"></script>

</body>

</html>














