<html>
	<head>
		<title>Pregnancy Prediction Help</title>
	</head>
	<body>
		<h2>Predict age by a single input by HTTP Get</h2>
		<code>{{ get_age_url }}</code>
		<h2>Predict age by multiple inputs by HTTP Post</h2>
		<h3>http POST url:</h3>
		<p>
		<code>{{ post_age_url }} </code>
		<p>
		<h3>http POST Body:</h3>
		<p>
		<code>{{ age_body_example }}</code>
		<p>
		<h2>Predict weight by a single input by HTTP Get</h2>
		<code>{{ get_weight_url }}</code>
		<h2>Predict weight by multiple inputs by HTTP Post</h2>
		<h3>http POST url:</h3>
		<p>
		<code> {{ post_weight_url }} </code>
		<p>
		<h3>http POST Body:</h3>
		<p>
		<code>{{ weight_body_example }}</code>
		<p>
	</body>
</html>